DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
RESEND_API_KEY=
RESEND_FROM="Good Driver <noreply@justintrinter.com>"
# RESEND_REPLY_TO=support@example.com
APP_BASE_URL=http://localhost:5173
